
a{
    color:#6666FF;
}

a:hover {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    color: #e74c3c;
    text-decoration: none;
}

a:visited {
    
}

html,body{ 
  margin:0;
}

canvas{
	display:block;
	vertical-align:bottom;
}

#particles-js{
  width: 100%;
height: 100%;
  background:#b61924;
      z-index: -1;
    position: fixed;
}